{% load static %}
{% static "media" as baseUrl %}
<!DOCTYPE html>
<html>
  <head>
    <title>Real Shapes</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/styles.css' %}">
    <link rel = "icon"  href = "{% static 'assets\logo\favicon.ico' %}">
  </head>
  <body>
    <header>
      <div class = "main">
        <div class = "logo">
          <a href = "index.html">
            <img src= "{% static 'assets\logo\RS-Logo.png' %}">
          </a>
        </div>
        <div>
          <ul>
              <li class= "active"><a href = "/">Home</a></li>
              <li><a href = "services">Services</a></li>
              <li><a href = "registerlogin">Register/Login</a></li>
              <li><a href = "logout">Logout</a></li>
              <li><a href = "scart">Shopping Cart</a></li>
          </ul>
        </div>
      </div>
    </header>
    <table class = "title" align = "center" width = 100%>
      <tr align = "center">
        <td>
          <h1>Real Shapes</h1>
          <text>We realize your dreams...</text>
        </td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <!--Highlighted Services-->
    <table>
      <tr>
        <td></td>
      </tr>
    </table>
    <br>
    <div class = "servicegrid">
    {% for service in service %}
      {% if service.servishigh%}
      <div class = "servicecontainer">
        <div class = "sname"><h2>{{service.servname}}</h2></div>
        <div class = "spic" align = "center">
          
            <div class = "shigh">
              <text>HOT!!!</text>
            </div>

          <a href = "#"><img src = "{{service.servpic.url}}"></a>
        </div>
        <div class = "sdesc">{{service.servdesc}}</div>
        <div class = "sprice">{{service.servcost}}</div>
        <br>
      </div>
      {% endif %}
    {% endfor %}
    </div>

  </body>

</html>
