{% load static %}
{% static "media/" as baseUrl %}
<!DOCTYPE html>
<html>
  <head>
    <title>Real Shapes</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/styles.css' %}">
    <link rel = "icon"  href = "{% static 'assets\logo\favicon.ico' %}">
  </head>
  <body>
    <header>
      <div class = "main">
        <div class = "logo">
          <a href = "/">
            <img src= "{% static 'assets\logo\RS-Logo.png' %}">
          </a>
        </div>
        <div>
          <ul>
              <li><a href = "/">Home</a></li>
              <li class= "active"><a href = "services">Services</a></li>
              <li><a href = "about">About Us</a></li>
              <li><a href = "contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!--List of services starts here-->
    <table>
    </table>
    <br>
    <div class = "servicegrid">
    {% for service in service %}
      <div class = "servicecontainer">
        <div class = "sname"><h2>{{service.servname}}</h2></div>
        <div class = "spic" align = "center">
          {% if service.servishigh%}
            <div class = "shigh">
              <text>HOT!!!</text>
            </div>
          {% else %}
            <div class = "slow">
              <text></text>
            </div>
          {% endif %}
          <a href = "#"><img src = "{{service.servpic.url}}"></a>
        </div>
        <div class = "sdesc">{{service.servdesc}}</div>
        <div class = "sprice">{{service.servcost}}</div>
        <br>
      </div>
    {% endfor %}
    </div>
    
  </body>

</html>
